[core]
  pager = less -FRSX
  excludesfile = ~/.gitignore
  editor = nano
  quotepath = false
[user]
  name = Ian Hill
  email = ianhill@buymeasoda.com
[color]
  ui = auto
[alias]
  st = status -sb
  br = branch
  ba = branch -a
  co = checkout
  ci = commit
  ca = commit -a
  lg = log --date=local
  d = diff
  wd = diff --word-diff
  ds = diff --staged
  wds = diff --word-diff --staged
  amend = commit --amend
  unstage = reset HEAD
  glog = log --graph --pretty=format:\"%Cblue%h%Creset — %s %Cblue%an%Creset %Cgreen(%cr)%Creset\"
  lol = log --oneline --graph --decorate
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
